
/*Изменить пути дo работы с gulp*/

@for $i from 1 through 4 {
    @font-face {
        @if $i < 3 {
            font-family: 'Roboto';
        }
        @else {
            font-family: 'TTFirsNeue';
        }
        font-style: normal;
        @if $i == 2 or $i == 4 {
            font-weight: 700;
        }
        @else {
            font-weight: 400;
        }
        font-display: swap;
        src: url($baseuri + nth($fontsrc, $i)) format('woff2');
      }
}