.header {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    background-color: $basecolor;
    top: 0;
    z-index: 2;//new

    &::before {
        @include lowerstripe;
        height: 52px;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .header-item {
            margin: 15px 0;
            flex: 0 0 auto;
            z-index: 3;
        }

        .header__logo {
            order: 0;
        }
        .header__menu {
            order: 1;
            @media (max-width:#{$br2nd}) { //new
                order: 3;
            }
        }
        .header__sn {
            order: 2; 
            @media (max-width:#{$br2nd}) { //new
                display: none;
            }           
        }
        .header__phone {
            order: 3;
            @media (max-width:#{$br2nd}) { //new
                order: 1;
            }
            @media (max-width:#{$br1st}) { //new
                order: 4;
            }
        }
        .header__search {
            order: 4;
            @media (max-width:#{$br2nd}) { //new
                order: 2;
            }
            @media (max-width:#{$br1st}) { //new
                order: 1;
            }
        }
    }

}

.menu {
    flex: 1 1 calc(100% - 320px) !important;
    @media (max-width:#{$br2nd}) { //new
        flex: 0 0 100% !important;
    }
    @media (max-width:#{$br1st}) { //new
        flex: 0 0 auto !important;
    }

    &__switch:checked ~ .menu__list {
        @media (max-width:#{$br1st}) { //new
            height: auto;
        }
    }
    &__switch:checked ~ .menu__toggle > span {
        @media (max-width:#{$br1st}) { //new
            background-color: $primarycolor;
        }
    }
    &__switch:checked ~ .menu__toggle > span::after {
        @media (max-width:#{$br1st}) { //new
            right:8px;
        }
    }
    &__toggle {
        display: none;
        position: relative;
        width: 22px;
        height: 22px;
        cursor: pointer;

        @media (max-width:#{$br1st}) { //new
            display: block;
        }

        & > span {
            display: block;
            position: absolute;
            height: 2px;
            top: 10px;
            left: 2px;
            right: 2px;
            font-size: 0;
            background-color: $secondcolor;

            &::before, 
            &::after {
                content: "";
                position: absolute;
                background: inherit;
                right: 0;
                left: 0;
                height: 2px;
            }

            &::before {
                top:-7px;
            }

            &::after {
                bottom:-7px;
            }
        }
    }
    &__list {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        line-height: 22px;

        @media (max-width:#{$br1st}) { //new
            flex-direction: column;
            position: absolute;
            height: 0;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0;
            text-transform: uppercase;
            background-color: $forwardcolor;
            overflow: hidden;
            z-index: 3;
        }

        .menu__link {
            font-family: 'TTFirsNeue', sans-serif;
            display: inline-block;
            padding: 0 5px;
            color: inherit;

            &:hover {
                color: $primarycolor;
            }
            &:focus {
                outline: none;
                color: inherit;
                background-color: $focuscolor;
            }

            @media (max-width:#{$br1st}) { //new
                display: block;
                padding: 15px 0;
                &:hover {
                    color: $forwardcolor;
                    background-color: $secondcolor;
                }
            }
        }
        .menu__item {
            @media (max-width:#{$br1st}) { //new
                width: 100%;
                border-top: 1px solid $secondcolor;
                text-align: center;
            }
        }
    }
}

.phone {
    font-size: 17px;
    line-height: 0;
    z-index: 2;//new
    @media (max-width:#{$br2nd}) { //new
        line-height: 22px;
    }
    
    &__link {
        font: {
            family: 'TTFirsNeue', sans-serif;
            weight: 700;
            style: normal;
        }
        display: inline-block;
        padding: 0 5px;
        height: 22px;
        line-height: 22px;
        color: inherit;

        &:hover {
            color: $primarycolor;
        }
        &:focus {
            outline: none;
            color: inherit;
            background-color: $focuscolor;
        }
        
        @media (max-width:#{$br3rd}) { 
            color: $primarycolor;
            &:hover {
                color:inherit;
            }
        }

        @media (max-width:#{$br2nd}) {
            font-weight: 400; 
        }

        .phone__img {
            @include svgicon;

            & path {
                fill: currentColor;
            }
        }
    }
}

.search {
    position: relative;
    width: 230px;
    min-width: 22px;
    min-height: 22px;
    align-self: center;
    line-height: 0;
    @media (max-width:#{$br2nd}) { //new
        width: clamp(50px, calc(100% - 400px), 230px);
        
    }
    @media (max-width:#{$br1st}) { //new
        width: calc(100% - 130px);
        
    }

    &__switch:checked ~ .search__data {
        display: block;
    }
    &__switch:checked ~ .search__toggle {
        left: 0;
    }
    &__switch:focus ~ .search__toggle {
        outline: none;
        & svg path {
            fill: $focuscolor;
        }
    }
    &__toggle {
        position: absolute;
        width: 22px;
        height: 22px;
        right: 0;
        cursor: pointer;

        &:hover {
            & svg path {
                fill: $primarycolor;
            }
        }
        
        .search__img {
            width: 100%;
            height: 100%;
        }
    }
    &__data {
        font: {
            family: 'TTFirsNeue', sans-serif;
            size: 14px; 
        }
        display: none;
        width: 100%;
        height: 22px;
        padding-left: 24px;
        outline: none;
        border: none;
        border-bottom: 1px solid currentColor;
        color: $formcolor;
        background-color: transparent;
        @include placeholder;

        &:hover {
            border-bottom-color: $primarycolor;
        }
        &:focus {
            outline: none;
            border-bottom-color: $focuscolor;
        }
    }
    &__hidden {
        @include nonvisible;
    }
}

