.service-img {
    @include tempimg;
}
.service {
    &__wrap {
        display: grid;
        @include grid;
        grid-template-rows: auto 1fr;
        @media(max-width:$br2nd) {
            grid-template-rows: auto repeat(2, 1fr); 
        }
        @media(max-width:$br1st) {
            grid-template-rows: repeat(3, auto); 
        }

        .service__tab {
            padding: 0;

            grid-column: 1 / span 8;
            grid-row: 1 / 3;

            @media(max-width:$br2nd) {
                grid-column: 1 / span 12; 
                grid-row: 1 / 2;
            }
        }
        .service__sale,
        .service__portfolio {
            grid-column: 9 / span 4;
        }
        .service__sale {
            grid-row: 1 / 2;

            @media(max-width:$br2nd) {
                grid-column: 1 / span 12; 
                grid-row: 2 / 3;
            }
        }
        .service__portfolio {
            grid-row: 2 / 3;

            @media(max-width:$br2nd) {
                grid-column: 1 / span 12; 
                grid-row: 3 / 4;
            }
        }
    }
    
}
.service-tab {
    &__label-wrap {
        display: inline-flex;
        color: $greycolor;
        font-weight: 700;
        border-bottom: 4px solid currentColor;
        @media (max-width:$br1st) {
            width: 100%;
            justify-content: space-between;
        }

        .service-tab__toggle {
            margin-bottom: -4px;
            cursor: pointer;
        }
        .service-tab__toggle_cat_gen {
            margin-right: 130px;
            @media (max-width:$br1st) {
                margin-right: 0;
            }
        }
    }
    &__switch {
        @include switch((tab:(gen, ret)));
        
    }
}

.promo {
    &__list {
       display: none;
       flex-wrap: wrap;
       margin-top: -30px;     
       padding-top: 30px;

       .promo__item {
            flex: 1 1 calc(50% - 15px);
            margin-top: 30px;
            &:not(:nth-child(even)) {
                margin-right: 30px;
            }
            @media (max-width: $br1st) {
                flex-basis: 100%;
                margin-right: 0 !important;
            }
        }
        @at-root &_cat_gen {
            @media (min-width: $br2nd) {
                .promo__item {
                    flex: 1 1 100%;
                    margin-right: 0 !important;
                }
            }
            
        }
       
    }
}

.product {
    display: flex;
    align-items: center;
    flex-direction: row;
    & > * {
        flex: 0 0 50%;
    }
    @media (max-width:$br3rd) {
        flex-direction: column;
        align-items: stretch;
        & > * {
            flex: 0 0 auto;
        }
    }

    &__info {
        padding-left: 30px;
        @media (max-width:$br3rd) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            flex: 1 1 auto;
        }

        .product__heading {
            font: {
                family: 'TTFirsNeue', sans-serif;
                size: 20px;
            }
            line-height: 24px;
            color: $basecolor;
            & > * {
                display: inline-block;
            }

            @media (max-width:$br3rd) {
                margin: 13px 0 5px 0;
            }
            @media (max-width:$br1st) {
                font-size: 16px;
            }
        }
        .product__desc {
            color: $lightcolor;
        }
        .product__link {
            display: inline-block;
            margin-top: 10px;
            font-weight: 700;
            height: 19px;
            line-height: 19px;
            color: $primarycolor;

            @media (max-width:$br1st) {
                height: 17px;
                line-height: 17px;
            }

            .product__icon {
                float: right;
                margin: 0 0 0 5px;
            }

            @media (max-width:$br3rd) {
                margin-top: auto;
            }
        }
    }
    @at-root &_cat_gen {
        @media (min-width: $br2nd) {
            flex-direction: row;
            align-items: center;

            .product__image-wrap {
                flex: 0 0 35.41%;
            }
            .product__info {
                flex: 1;
                padding-left: 30px;
                .product__heading {
                    margin: 0;
                }
            }
        }
    }
}

.sale {
    position: relative;
    & > *:not(:first-child) {
        position: absolute;
    }

    
    &__background-img {
        @media (min-width:$br1st) and (max-width:$br2nd) {
            position: absolute;
            height: 100%;
            object-fit: cover;
            object-position: 50% 40%;
        }
    }
    &__attent {
        top: 0;        
        margin: 20px 0 0 30px;
        font-weight: 700;
        color: #FFF500;

        & > * {
            display: block;
            line-height: 1;
        }
        .sale__1stline {
            font-family: 'TTFirsNeue', sans-serif;
            font-size: 36px;

            @media (max-width: $br1st) {
                font-size: 30px;
            }
        }
        @at-root .sale__2ndline {
            font-size: 16px;
        }
    }
    &__info-wrap {
        bottom: 0;

        .sale__discount {
            margin-left: 30px;
            display: block;
        }
        .sale__nestel{
            margin: 0 0 30px 30px;
            .sale__condition {
                @extend .sale__2ndline;
                margin-bottom: 10px;
            }
            .sale__btn {
                @include btn;
            }
        }
    }
    @media (max-width:$br2nd) {
        &__info-wrap {
            position: static !important;
            width: 100% !important;
            & > * {
                position: absolute;
                min-width: max-content;
            }
            .sale__discount {
                top: 20px;
                right: 30px;
                width: 116px;
                height: 59px;
            }
            .sale__nestel{
                bottom: 0;
            }
        }
    }
}

.portfolio {
    &__area {
        position: relative;
        overflow: hidden;
        .portfolio__list {
            display: flex;
            flex-wrap: wrap;
            margin-top: -30px;
            will-change: opacity;
            @at-root &_overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: $secondcolor;
                opacity: 0;

                /* animation: {
                    name: changeportfolio;
                    duration: 5s;
                    delay: 0s;
                    iteration-count: infinite;
                    timing-function: step-start;
                    direction: normal;
                    play-state: running;
                    fill-mode: both;
                }

                @keyframes changeportfolio { 
                    50% {
                        opacity: 1;
                    }
                } */
            }
    
            .portfolio__item {
                flex: 0 0 calc(25% - 23.5px);
                @media (max-width:$br3rd) {
                    flex: 0 0 calc(33.33% - 20px);
                }
                @media(max-width:$br2nd) {
                    flex: 0 0 calc(16.66% - 25px);
                }
                @media(max-width:$br1st) {
                    flex: 0 0 calc(50% - 15px);
                }
                margin-top: 30px;
                
    
                
                @each $int, $break in (4: null, 3: $br3rd, 6: $br2nd, 2: $br1st) {
                        @if not $break {
                            @include cleargap($int);  
                                    
                        }
                        @else {
                            @media (max-width:$break) {
                                @include cleargap($int);
                                &:nth-child(#{$int}n) {
                                    margin-right: 0;
                                }
                            }  
                        }
                            
                }
                
            }
        }
    }
    
}